.idea
0226DataBinding/.idea
0226DataBinding/.gradle
0226DataBinding/app/build

0226LiveData/.idea
0226LiveData/.gradle
0226LiveData/app/build

0226ScoreCounter/.idea
0226ScoreCounter/.gradle
0226ScoreCounter/app/build

0226ViewModel/.idea
0226ViewModel/.gradle
0226ViewModel/app/build

0227SavaStateHandleViewModelRestore/.idea
0227SavaStateHandleViewModelRestore/.gradle
0227SavaStateHandleViewModelRestore/app/build

0228CaculationTest/.idea
0228CaculationTest/.gradle
0228CaculationTest/app/build

0228Navigation/.idea
0228Navigation/.gradle
0228Navigation/app/build

0228Navigation(Advanced)/.idea
0228Navigation(Advanced)/.gradle
0228Navigation(Advanced)/app/build

0228Navigation(FinalVersion)/.idea
0228Navigation(FinalVersion)/.gradle
0228Navigation(FinalVersion)/app/build

0228ViewModelSP/.idea
0228ViewModelSP/.gradle
0228ViewModelSP/app/build

0229Lifecycles/.idea
0229Lifecycles/.gradle
0229Lifecycles/app/build

0229Room/.idea
0229Room/.gradle
0229Room/app/build

0301BottomNavigationBar/.idea
0301BottomNavigationBar/.gradle
0301BottomNavigationBar/app/build

0301Words/.idea
0301Words/.gradle
0301Words/app/build

0302Json/.idea
0302Json/.gradle
0302Json/app/build

0302Kotlin/.idea
0302Kotlin/.gradle
0302Kotlin/app/build

0302Paging/.idea
0302Paging/.gradle
0302Paging/app/build

0302Parcelable/.idea
0302Parcelable/.gradle
0302Parcelable/app/build

0302Serializable/.idea
0302Serializable/.gradle
0302Serializable/app/build

0303Gallery(Kotlin)/.idea
0303Gallery(Kotlin)/.gradle
0303Gallery(Kotlin)/app/build

0303ViewPager(Kotlin)/.idea
0303ViewPager(Kotlin)/.gradle
0303ViewPager(Kotlin)/app/build